@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
@model List<AdminModel.RoleVM>

<div class="row">
    <div class="col-md-6 offset-md-2">
        <h2>Roles</h2>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary" asp-controller="Role" asp-action="Add" asp-area="admin">Add Role</a>
    </div>

</div>
<div class="row">
    <div class="col-md-8 offset-md-2">

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-info" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Role Name</th>
                    <th></th>

                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            <a class="btn btn-warning btn-sm" asp-area="admin" asp-controller="role" asp-action="update" asp-route-id="@item.Id">Update Role</a>

                            <a class="btn btn-danger btn-sm my-1" asp-area="admin" asp-controller="role" asp-action="delete" asp-route-id="@item.Id">Delete Role</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>